# Project exclude paths
/PixShareAppDomain/target/
/PixShareAppController/target/
/PixShareAppRepository/target/
/PixShareAppService/target/
/PixShareAppRepository/src/main/resources/application-db.properties
/PixShareAppService/src/main/java/za/ac/nwu/PixShare/Service/config/AWSconfig.java