

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.image {
  height:200px;
  width:200px;
  display:inline-block;
}

.metadata{
  font-size:80%;
  color:#6c757d;
  margin-bottom: 5px;
  margin-left: 1px;
}


.imageLayout{
  display: inline-block;
  margin: 25px;
  /*width: 33%;*/
}

.buttonLayout{
  margin-bottom: 5px;
}

.cards {
  margin-bottom: 70px;
  color: white;
  background-color: #282c34;
}

.loginCard {
  color: white;
  background-color: #282c34;
  width: 40%;
  margin: auto;
}

.home {
  color: black;
}

.delete {
  color: white;
  margin-bottom: 5px;
  border-color: white;
  background: repeating-linear-gradient(
          45deg,
          #6c757d,
          /*#6c757d 10px,*/
          #282c34 10px
          /*#282c34 20px*/
  );
}

.delete:hover {
  color: white;
  border-color: red;
  background: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
